@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
}

.nav-cnt {
  display: flex;
  padding-left: 40px;
  margin-top: 20px;
}

.main-card-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  gap: 50px;
  margin: 20px;
  padding-top: 30px;
}

.check-btn-cnt {
}

.card-cnt {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  gap: 1.8px;
  border: 2px solid black;
  border-radius: 10.2px;
}

.card-amount,
.card-price,
.card-title {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 45px;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  padding-top: 20px;
}

.in-de-btn-cnt {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.decrement-btn,
.increment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  font-size: 30px;
  color: rgb(18, 17, 17);
  border-radius: 5px;
  background-color: rgb(81, 161, 252);
  border: none;
}

.check-btn-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 120px;
}

#checkBtn {
  width: 180px;
  height: 50px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(183, 216, 244);
  border-radius: 8.55px;
}

.remove-btn-cnt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-right: 12px;
}

.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 50%;
}

.remove-btn:hover {
  background-color: red;
}
